%html
  //DO NOT ADD anything to head. Head is replaced when generating new convos. Please look in conversations_widget.coffee
  %head
  %body
    #chatline-template.chatline.template
      .from
      .time
      .body
    #conversation.hsplit
      .left.expand.vsplit
        #toolbar
          toolbar
        #messages.expand
        #command
          %textarea#txt
      .room-info
