%html
  %head
  %body
    #chatline-template.chatline.template
      .from
      .time
      .body
    #conversation.hsplit
      .left.expand.vsplit
        #messages.expand
        #command
          %textarea
      .room-info
