%html
  %head
    %script{type:"text/javascript", src:"https://getfirebug.com/firebug-lite-debug.js"}
    %script{type:"application/x-javascript", src : "javascript/jquery-1.7.min.js"}
    %script
      var crow=$(window.parent.document)
  %body
    Firebug Lite
