%html
  %head
    %title Crow
    %link{:href => "bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "crow.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "log.css", :rel => "stylesheet", :type => "text/css"}

  %body.vsplit
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => "#"} Crow
          %ul.nav
            %li.home-menu.dropdown
              %a.dropdown-toggle{:href => "#"} Home
              %ul.dropdown-menu
                %li 
                  %a{:href=>"#"}Accounts
                %li 
                  %a{:href=>"#"}Plugins
                %li 
                  %a{:href=>"#"}Settings
                %li 
                  %a#toggle_logs{:href=>"#"}Toggle Logs
            %li
              %a{:href => "#about"} About

          %p.pull-right XMPP is crazy...
    
    .container-fluid.expand.hsplit
      .sidebar
        .well
          #connect-panel
            %form.form-stacked{:action => "#"}
              .clearfix
                %label{:for => "jid"} JID
                .input
                  %input#jid.span3{:type => "text"}/
              .clearfix
                %label{:for => "password"} Password
                .input
                  %input#password.span3{:type => "password"}/
              %button#connect.btn.primary Connect
          #disconnect-panel
            %button#disconnect.btn.danger Disonnect
          #friends-panel
            %h2 Friends
            #friend-template.template.friend
              .icon
              .show
              .name
              .status
            #friends

      .content.expand.vsplit
        .toolbar Toolbar
        #conversations.pill-content.expand
          #conversation-template.template.conversation.hsplit
            .left.expand.vsplit
              .messages.expand
                #chatline-template.template.chatline
                  .time
                  .from
                  .body
              .command
                %textarea
            .room-info
          #log.active
            #logline-template.logline
              .time
              .level
              .context
              .log
        %ul.tabs
          %li.active
            %a{:href=>'#log'} Log
        .footer
    .footer

  %script{:src => "jquery-1.7.min.js"}
  %script{:src => "bootstrap-dropdown.js"}
  %script{:src => "bootstrap-tabs.js"}
  %script{:src => "javascript/util.js"}
  %script{:src => "javascript/split.js"}
  %script{:src => "javascript/models.js"}
  %script{:src => "javascript/log.js"}
  %script{:src => "javascript/crow.js"}
  %script{:src => "javascript/menus.js"}
  %script{:src => "javascript/messages.js"}
  %script{:src => "javascript/hotkeys.js"}

