#logs {
  .container {
    height: 100%;
    overflow: auto;
  }

  ul.tabs {
    margin: 0px;
    padding: 0px;
  }

  .pill-content {
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .xmpplog {
    .sent {
      color: #ccc;
    }
    .received {
    }
  }
}

#crowlog  {
  .logline {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    clear: both;
    .time, .level, .context {
      float: left;
      margin-right: 0.5em;
    }
    .context:before {
      content: "["
    }
    .context:after {
      content: "]"
    }
  }
}

