#logs {

  ul.tabs {
    margin: 0px;
    padding: 0px;
  }

  .pill-content {
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: auto;

    .xmpplog {
      padding: 1em;
      .logs {
      }
      .sent {
        color: #ccc;
      }
      .received {
      }
      .command {
        height: 6em; 
        padding-right: 1em;
        padding-bottom: 1em;
        textarea {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

#crowlog  {
  padding: 1em;
  .logline {
    padding-bottom: 1em;
    clear: both;
    .time, .level, .context {
      float: left;
      margin-right: 0.5em;
    }
    .context:before {
      content: "["
    }
    .context:after {
      content: "]"
    }
  }
}

