/* http://kuler.adobe.com/#themeID/1578294 , but maybe should be http://kuler.adobe.com/#themeID/124171 */
$lightgray: #f5f5f5;
$scheme1: #e9f2f0;
$scheme2: #8a9ea6;
$scheme3: #8a8c79;
$scheme2_dark: #364457;
$scheme3_dark: #262626;

html {
 height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;
}
body {
  height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;
}

.template {
  display: none;
}

.topbar-inner {
  background-color: $scheme3_dark;
}

.footer {
  clear: both;
}

#panels {
  padding-right: 0px;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  min-width: 200px;
  .panel {
    height: 100%;
    wihth: 100%;
    background-color: white;
  }
}

/* panels */
@import "accounts";
@import "conversations";
@import "friends";
@import "logs";

