/* http://kuler.adobe.com/#themeID/1578294 , but maybe should be http://kuler.adobe.com/#themeID/124171 */
$lightgray: #f5f5f5;
$scheme1: #e9f2f0;
$scheme2: #8a9ea6;
$scheme3: #8a8c79;
$scheme2_dark: #364457;
$scheme3_dark: #262626;

html {
 height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;
}
body {
  height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;
}

#disconnect-panel {
  display: none;
  margin-bottom: 1em; 
}

#friends-panel {
  display: none;
  overflow: auto;
  .chat {
    background-color: green;
  }
  .away,.dnd {
    background-color: red;
  }

  .friend {
    clear: both;
    max-height: 3em;
    overflow: hidden;
    .show {
      width: 24px;
      float: left;
      background-color: yellow;
    }
    .state{
      height: auto;
      width: 7px;
      float: left;
      .chat {
        background-color: green;
      }
      .away,.dnd {
        background-color: red;
      }

      
    }
    .name {
      font-size: 10pt;
      width: 125px;
      overflow: hidden;
    }
    .status {
      width: 100px;
      font-size: 8pt;
      color: #888;
      overflow: hidden;
    }
    .icon {
      float: right;
      img {
        width: 32;
        height: 32;
        padding-left: 5px;
      }
    }
  }
}

.topbar-inner {
  background-color: $scheme3_dark;
}

.footer {
  clear: both;
}

#panels {
  padding-right: 0px;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  min-width: 200px;
  .panel {
    height: 100%;
    wihth: 100%;
    background-color: white;
  }
}

#conversations {
  .sidebar {
    width: 220px;
  }

  .right {
    margin-left: 1em;
    .pill-content {
      padding: 2px;
      background-color: $lightgray;
      min-height: 20px;
      min-width: 200px;
      border: 1px solid #eee;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 0px;
      margin-left: 0px;
      margin-top: 0em;
      margin-right: 0em;
      margin-bottom: 0em;
    }

    ul.tabs {
      margin: 0px;
      border-width: 1px 0 0 0;
      padding-bottom: 0px;
      li {
        margin-top: -1;
        margin-bottom: 0;
        a {
          border-radius: 0 0 4px 4px;
          padding-top: 2px; 
          padding-bottom: 2px; 
          padding-left: 4px; 
          padding-right: 4px; 
          height: 1em;
          line-height: 1em;
        }
      } 
    }
  }
}

#logs {
  height: 100%;
  overflow: auto;
  padding-left: 0em;
  padding-right: 0em;
  #logline-template {
    display: none;
  }
  .logline {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    clear: both;
    .time, .level, .context {
      float: left;
      margin-right: 0.5em;
    }
    .context:before {
      content: "["
    }
    .context:after {
      content: "]"
    }
  }
}

