body {
  padding-top: 60px;
}
#chat .chatline {
  padding: 1em;
}
#chat .system {
  color: #ccc;
  font-size: 8pt;
}
#friends-panel {
  display: none;
}
#disconnect-panel {
  display: none;
  margin-bottom: 1em;
}

