$lightgray: #f5f5f5;
$scheme1: #e9f2f0;
$scheme2: #8a9ea6;
$scheme3: #8a8c79;
$scheme2_dark: #364457;
$scheme3_dark: #262626;

.conversation {
  height: 100%;
  .left {
    height: 100%;
    .messages {
      overflow: auto;
      .chatline {
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        padding: 1em;
        font-size: 10pt;
        border-radius: 4px 4px 4px 4px;
        border-shadow: 3px 3px 5px rgba(128,128,128,0.5);
        .time {
          float: right;
          margin-left: 0.5em;
          }
          .from {
            float: right;
            margin-left: 1em;
          }
        }
        .self {
          background-color: $scheme3;
        }
        .message {
          background-color: $scheme2;
        }
        .system {
          background-color: #ccc;
          font-size: 8pt;
        }
        .delay {
          background-color: #ccc;
        }
      }
      .command {
        height: 4em;
        padding: 3px;
        textarea {
          width: 100%;
          height: 100%;
        }
      }
    }
    .room-info {
      display: none;
    }
}
